<div class="col-lg-2 col-md-3 col-4 min-vh-100 bg-light ">

        <div class="d-flex flex-column p-3 text-dark min-vh-100">
            <div class="text-center">
              <a href="/" class="d-flex justify-content-center align-items-center  mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="https://img.icons8.com/color/48/undefined/a-cute.png" width="50" height="50" class="rounded-circle me-2"/>
                <h5 >Quản trị</h5>
              </a>
            </div>     
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item ">
                <a href="/" class="nav-link {{sidebar.active.home}}" aria-current="page">
                  <img class="hover-zoom" width="32" height="32" src="https://img.icons8.com/external-color-outline-adri-ansyah/64/undefined/external-dashboard-social-media-interface-color-outline-adri-ansyah.png"/>
                  Trang chủ
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/store" class="nav-link {{sidebar.active.store}}">
                  <img width="32" height="32" src="https://img.icons8.com/external-fauzidea-gradient-fauzidea/64/undefined/external-account-online-learning-fauzidea-gradient-fauzidea.png"/>
                  Tạo tài khoản
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/changepass" class="nav-link {{sidebar.active.change}} ">
                  <img width="32" height="32" src="https://img.icons8.com/external-sbts2018-flat-sbts2018/58/undefined/external-change-password-basic-ui-elements-2.3-sbts2018-flat-sbts2018.png"/>
                  Thay đổi mật khẩu
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/icon" class="nav-link {{sidebar.active.icon}}">
                  <img width="32" height="32" src="https://img.icons8.com/color-glass/48/undefined/happy.png"/>
                  Thêm icons
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/department" class="nav-link {{sidebar.active.department}}">
                  <img width="32" height="32" src="https://img.icons8.com/color/48/undefined/department.png"/>
                  Thêm Phòng/Ban
                </a>
              </li>
            </ul>
            
          </div>

</div>